.baner{
    background-color: #4B0082;
    color: white;
    text-align: center;
    width: 75%;
    height: 100px;
    font-size: 150%;
}
.gora{
    display: flex;
    
}
.dol{
    display: flex;
    
    flex-wrap: wrap;
}
.logo{
    width: 25%;
    height: 100px;
}
.lewy{
    width: 45%;
    height: 100px;
}
.prawy{
    width: 55%;
    height: 300px;
    text-align: center;
}
.glowny{
    background-color:#4B0082 ;
    padding: 60px;
}
.stopka{
    background-color: #4B0082;
    color: white;
    padding: 40px;
}
body{
    font-family: Helvetica;
    background-color: #FFE4B5;
}
form{
    padding: 40px;
}
table {
    color: white;
    text-align: center;
    width: 90%;
    border: 1px yellow solid;
}